@import 'global.scss';

#wrapper {
  width: 460px;
  margin: 0 auto;
  padding: 100px 0;
}

#container {
  width: 305px;
  padding: 210px 30px 60px 125px;
  background: white;
  @include border_radius;
  @include shadow;
}

#header {
  position: absolute;
  height: 65px;
  margin: -114px 0 0 -60px;
}

.outside {
  width: 440px;
  height: $lineSpacing + 10;
  padding: 10px 10px 0 10px;
}

#userMenu {
  nav {
    text-align: right;
    
    span {
      float: left;
      max-width: 290px;
      font-size: 1.2em;
    }
    
    a {
      font-size: 1.2em;
    }
  }
}

#social {
  text-align: center;
  
  nav {
    a {
      font-size: 1em;
    }
  }
}

#logo {
  display: block;
  width: 255px;
  height: 50px;
  text-decoration: none;
  color: black;
}

#star, #rubySu, #slogan {
  position: absolute;
}

#star {
  width: 93px;
  height: 89px;
  margin: -60px 0 0 123px;
  background: url(/images/ruby_su.jpg) no-repeat;
}

#rubySu {
  font-family: PTSerif;
  font-size: 5.8em;
}

#dot {
  font: inherit;
  margin-right: 30px;
  margin-left: 30px;
}

#slogan {
  margin-top: 28px;
  margin-left: 38px;
  font-family: PTSans-Italic;
  font-size: 1.2em;
  
  span {
    margin-right: 28px;
    font: inherit;
  }
}

article {
  h1 {
    font-family: PTSerif-Caption;
    font-size: 2em;
    color: $red;
    margin-top: 70px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.4em;
    margin-bottom: $lineSpacing;
  }
  
  ul {
    margin-bottom: $lineSpacing;
    line-height: 20px;
  }
  
  li {
    font-size: 1.4em;
    color: $red;
    
    span {
      font: inherit;
      color: black;
    }
  }
  
  small {
    position: absolute;
    width: 40px;
    margin-top: 3px;
    margin-left: -55px;
    text-align: right;
    color: $silver;
  }
}

article:first-child {
  h1 {
    margin-top: 0 !important;
  }
}

input {
  height: 20px;
  @include inner_glow;
  @include border_radius;
}

input[type="submit"] {
  height: 20px;
  margin: $lineSpacing 0;
  padding: 0 10px;
  @include inner_glow;
  @include border_radius;
  color: white;
	background: #F53324;
	background: -webkit-gradient(linear, left top, left bottom, from(#F53324), to(#B41F24));
	background: -moz-linear-gradient(top,  #F53324,  #B41F24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F53324', endColorstr='#B41F24');
	
	&:hover {
  	background: #FF755E;
  	background: -webkit-gradient(linear, left top, left bottom, from(#FF755E), to(#C41F24));
  	background: -moz-linear-gradient(top,  #FF755E,  #C41F24);
  	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF755E', endColorstr='#C41F24');
	}
	
	&:active {
  	background: #E63324;
  	background: -webkit-gradient(linear, left top, left bottom, from(#E63324), to(#961F24));
  	background: -moz-linear-gradient(top,  #E63324,  #961F24);
  	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E63324', endColorstr='#961F24');
	}
}

textarea {
  border: none;
  resize:vertical;
  @include inner_glow;
  @include border_radius;
}