#wrapper {
  width: 760px;
  margin: 0 auto; }

#container {
  width: 585px;
  padding: 160px 50px 60px 125px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2); }

input[type="text"], textarea {
  width: 575px; }

#header {
  position: absolute;
  height: 65px;
  margin: -54px 0 0 -60px; }

.outside {
  width: 740px;
  height: 25px;
  padding: 10px 10px 0 10px; }

#userMenu nav {
  text-align: right; }
  #userMenu nav span {
    float: left;
    max-width: 290px;
    font-size: 1.2em; }
  #userMenu nav a {
    font-size: 1.2em; }

#social {
  text-align: center; }
  #social nav a {
    font-size: 1em; }

#logo {
  display: block;
  width: 255px;
  height: 50px;
  text-decoration: none;
  color: black; }

#star, #rubySu, #slogan {
  position: absolute; }

#star {
  width: 93px;
  height: 89px;
  margin: -60px 0 0 123px;
  background: url(/images/ruby_su.jpg) no-repeat; }

#rubySu {
  font-family: PTSerif;
  font-size: 5.8em; }

#dot {
  font: inherit;
  margin-right: 30px;
  margin-left: 30px; }

#slogan {
  margin-top: 28px;
  margin-left: 38px;
  font-family: PTSans-Italic;
  font-size: 1.2em; }
  #slogan span {
    margin-right: 28px;
    font: inherit; }
