html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font-family: PTSans;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100%;
  min-width: 720px;
  height: 100%; }

body {
  line-height: 15px;
  background: #f1f3f3; }

h1, h2 {
  line-height: 30px; }
  h1:first-letter, h2:first-letter {
    text-transform: capitalize; }

h1 {
  font-family: PTSerif-Caption;
  font-size: 2em;
  color: #de1e21;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: -1px; }

h2 {
  font-family: PTSerif-Caption;
  font-size: 2em;
  color: #de1e21;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: -1px; }
  h2 a {
    color: #de1e21;
    font: inherit; }
    h2 a:hover {
      color: #f53324;
      text-decoration: none; }

p {
  font-size: 1.4em;
  margin-left: 1px;
  margin-bottom: 15px;
  line-height: 15px; }

ul, ol {
  margin-bottom: 15px;
  margin-left: 15px;
  line-height: 15px; }

li {
  font-size: 1.4em;
  margin-bottom: 5px; }

ul li {
  list-style: url(/images/bullet.png) inside; }

ol li {
  list-style: decimal inside; }

small {
  position: absolute;
  width: 40px;
  margin-top: 10px;
  margin-left: -55px;
  text-align: right;
  color: #768888; }

pre {
  background: black;
  color: white;
  padding: 10px; }

code {
  font-family: Courier;
  font-size: 1em; }

a {
  font: inherit;
  color: #5f6d6d; }
  a:hover {
    color: #768888; }
  a:active {
    color: #3b4444; }

b, strong {
  font-family: PTSans-Bold; }

.field {
  margin-bottom: 15px; }

label {
  font-size: 1.2em;
  font-weight: normal; }

input[type="text"], textarea {
  padding: 0 5px !important; }

input {
  height: 20px;
  border: none;
  -webkit-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

input[type="submit"] {
  margin: 15px 0;
  padding: 0 10px;
  -webkit-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  background: #F53324;
  background: -webkit-gradient(linear, left top, left bottom, from(#f53324), to(#b41f24));
  background: -moz-linear-gradient(top, #f53324, #b41f24);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F53324', endColorstr='#B41F24'); }
  input[type="submit"]:hover {
    background: #FF755E;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff755e), to(#c41f24));
    background: -moz-linear-gradient(top, #ff755e, #c41f24);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF755E', endColorstr='#C41F24'); }
  input[type="submit"]:active {
    background: #E63324;
    background: -webkit-gradient(linear, left top, left bottom, from(#e63324), to(#961f24));
    background: -moz-linear-gradient(top, #e63324, #961f24);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E63324', endColorstr='#961F24'); }

textarea {
  border: none;
  resize: vertical;
  padding: 5px !important;
  -webkit-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
