@import 'global.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font-family: PTSans;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block; 
}

html, body {
  width: 100%;
  min-width: 720px;
  height: 100%;
}

body {
  line-height: $lineSpacing;
  background: $lightGray;
}

h1, h2 {
  line-height: $lineSpacing * 2;
  
  &:first-letter {
    text-transform: capitalize;
  }
}

h1 {
  font-family: PTSerif-Caption;
  font-size: 2em;
  color: $red;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: -1px;
}

h2 {
  font-family: PTSerif-Caption;
  font-size: 2em;
  color: $red;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: -1px;
  
  a {
    color: $red;
    font: inherit;
   
   &:hover {       
    color: $redLight;
    text-decoration: none;
   }
  }
}

p {
  font-size: 1.4em;
  margin-left: 1px;
  margin-bottom: $lineSpacing;
  line-height: $lineSpacing;
}

ul, ol {
  margin-bottom: $lineSpacing;
  margin-left: $lineSpacing;
  line-height: $lineSpacing;
}

li {
  font-size: 1.4em;
  margin-bottom: 5px;
}

ul {
  li {
    list-style: url(/images/bullet.png) inside;
  }
}

ol {
  li {
    list-style: decimal inside; 
  }
}

small {
  position: absolute;
  width: 40px;
  margin-top: 10px;
  margin-left: -55px;
  text-align: right;
  color: $silver;
}

pre {
  background: black;
  color: white;
  padding: 10px;
}

code {
  font-family: Courier;
  font-size: 1em;
}

a {
  font: inherit;
  
  color: $gray;
  
  &:hover {
    color: $silver;
  }
  
  &:active {
    color: $graphite;
  }
}

b, strong {
  font-family: PTSans-Bold;
}

.field {
  margin-bottom: $lineSpacing;
}

label {
  @include textStyle( 1.2em, normal)
}

input[type="text"], textarea {
  padding: 0 5px !important;
}

input {
  height: 20px;
  border: none;
  @include inner_glow;
  @include border_radius;
}

input[type="submit"] {
  margin: $lineSpacing 0;
  padding: 0 10px;
  @include inner_glow;
  @include border_radius;
  color: white;
	background: #F53324;
	background: -webkit-gradient(linear, left top, left bottom, from(#F53324), to(#B41F24));
	background: -moz-linear-gradient(top,  #F53324,  #B41F24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F53324', endColorstr='#B41F24');
	
	&:hover {
  	background: #FF755E;
  	background: -webkit-gradient(linear, left top, left bottom, from(#FF755E), to(#C41F24));
  	background: -moz-linear-gradient(top,  #FF755E,  #C41F24);
  	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF755E', endColorstr='#C41F24');
	}
	
	&:active {
  	background: #E63324;
  	background: -webkit-gradient(linear, left top, left bottom, from(#E63324), to(#961F24));
  	background: -moz-linear-gradient(top,  #E63324,  #961F24);
  	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E63324', endColorstr='#961F24');
	}
}

textarea {
  border: none;
  resize:vertical;
  padding: 5px !important;
  @include inner_glow;
  @include border_radius;
}